.BorderRadiusPlusPadding {
  padding: 20px 20px;
  border-radius: 30px;
}
.TwentyPadding {
  padding: 20px 20px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 2% 15% 2% 15%;
  font: #22283A;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: #F6F6F6;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 20px 20px;
}
.home .blast2 img {
  padding: 20px 20px;
  border-radius: 30px;
  width: 100%;
}
.home .space-images {
  width: 100%;
  padding: 20px 20px;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 20px 20px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
}
.home .walk .walk-text {
  width: 100%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
  padding: 5% 2% 2% 2%;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
  padding: 1% 5% 2% 2%;
}
.home .walk .walk-text .btn {
  padding: 10px 30px;
  font-size: 1.6rem;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.home .walk .walk-text .btn:hover {
  background-color: red;
  color: black;
}
.home .walk .walk-text .walk-img {
  width: 100%;
  padding: 3% 1% 1% 1%;
}
.home .walk .walk-text .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .earth {
  border-radius: 5px;
}
@media only screen and (max-width: 700px) {
  .home button {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .home .space-images {
    display: none;
  }
  .home .walk {
    display: flex;
    flex-direction: column-reverse;
  }
  .home .walk-text {
    justify-content: center;
    width: 100%;
  }
  .home .blast {
    display: flex;
  }
}
@media only screen and (min-width: 700px) {
  .home .blast2 {
    display: none;
  }
}
